body {
    font-family: 'Nunito'
    ;
}

input {
    padding: 5px;
    width: 100%;
}

.comma-list {
    list-style: none;
    padding-left: 30px;
}

.comma-list>* {
    display: list-item;
    float: left;
    width: 25%;
}